@(message: String)

@main("New page") {

<script>
function newdiv(divid) {
    var node = document.createElement("DIV");
    var text = document.createTextNode("in div");
    node.appendChild(text);
    document.getElementById(divid).appendChild(node);
}

function newdivrest(divid, msg) {
    var msgnode = document.getElementById(msg);
    var divs = document.getElementById(divid);
    var xhr = new XMLHttpRequest();
    msgnode.value == "" ? restpath = "/div" : restpath = "/div?msg=" + msgnode.value;
    xhr.open("GET",restpath,true);
    xhr.send();
    xhr.onload = function() { divs.innerHTML += this.responseText };
}

function emptydiv(divid) {
    var divs = document.getElementById(divid);
    while (divs.firstChild) {
        divs.removeChild(divs.firstChild);
    }
}
</script>

<h3>@message</h3>

<p>@message</p>

<pre>@controllers.Fixed.fixedmessage</pre>

<pre>
Counter : @controllers.Counter.counter
incrementstate: @controllers.Counter.incrementstate
incrementstate: @controllers.Counter.incrementstate
incrementstate: @controllers.Counter.incrementstate
</pre>


<button id="newdiv" onclick="javascript:newdiv('divs')">Click</button>
<button id="newdiv" onclick="javascript:newdivrest('divs','msg')">Click Rest</button>
<input type="text" id="msg">
<button id="emptydiv" onclick="javascript:emptydiv('divs')">Empty</button>

<div id="divs"></div>


<!--@play20.welcome(message)-->

}
