@(message: String)

@main("play-scala-first") {

<h3>@message</h3>

<p>@message</p>

<pre>@controllers.Fixed.fixedmessage</pre>

<pre>
Counter : @controllers.Counter.counter
incrementstate: @controllers.Counter.incrementstate
incrementstate: @controllers.Counter.incrementstate
incrementstate: @controllers.Counter.incrementstate
</pre>


<button id="newdiv" onclick="javascript:newdiv('divs')">Click</button>
<button id="newdiv" onclick="javascript:newdivrest('divs','msg')">Click Rest</button>
<input type="text" id="msg">
<button id="emptydiv" onclick="javascript:emptydiv('divs')">Clear</button>
<div id="divs"></div>


<button id="execsql" onclick="javascript:execsql('sql')">Exec SQL</button>
<button id="clearsql" onclick="javascript:emptydiv('sql')">Clear SQL</button>
<div id="sql"></div>


<!--@play20.welcome(message)-->

}
